<div class="tif-search-filters-mobile">

    <div class="g-grid--row">
        <div class="g-grid--indent">
            <div class="g-grid--span12">
                <h5 class="g-font-klm tif-h2 heading-dark">{{i18n "tif.search.refinefurther"}}</h5>
            </div>
        </div>
    </div>

    <div class="g-grid--row">
        <div class="g-grid--span12">
		    <ul>
		        <li><a href="#" data-tab-id="tif-filter-regions"><span class="tif-icon">&#xe61d;</span>{{i18n "tif.search.filterregion"}}<span class="g-klmicon">&gt;</span></a></li>
		        <li><a href="#" data-tab-id="tif-filter-themes"><span class="tif-icon">&#xe605;</span>{{i18n "tif.search.filterthemes"}}<span class="g-klmicon">&gt;</span></a></li>
                <li><a href="#" data-tab-id="tif-filter-budget"><span class="tif-icon">&#xe609;</span>{{i18n "tif.search.filterbudget"}}<span class="g-klmicon">&gt;</span></a></li>
		    </ul>
        </div>
    </div>
</div>