<div class="tif-header">

   <div class="tif-header-visual"></div>

    <div class="g-grid--row">
        <div class="g-grid--span8">
            <h2 class="tif-header-title {{model.header.title-color}} g-font-klm">{{model.header.title}}</h2>
        </div>
        <div class="g-grid--span4">
            <div class="tif-pricebox-container" data-destcode="{{model.cityDetails.code}}"></div>
		</div>
    </div>

    <div class="g-grid--row">
        <div class="g-grid--indent">
            <div class="g-grid--span12">
                <div class="tif-header-visual-caption"><span class="tif-icon">&#xe61e;</span> {{model.header.caption}}</div>
            </div>
        </div>
    </div>

</div>