<div id="tif-search" class="tif-content">
    <div ui-view="main">

        <div class="tif-search"><div class="g-grid--row"><div class="g-grid--indent">
            <div class="tif-loading-app g-loading-large-light">

            </div>
        </div></div></div>

    </div>
</div>