<div class="tif-header">

   <div class="tif-header-visual"></div>

    <div class="g-grid--row">
        <div class="g-grid--span8">
            <h1 class="tif-header-title g-font-klm">China</h1>
        </div>
        <div class="g-grid--span4">

		</div>
    </div>

    <div class="g-grid--row">
        <div class="g-grid--indent">
            <div class="g-grid--span12">
                <div class="tif-header-visual-caption"><span class="tif-icon">&#xe61e;</span> {{model.destination.visual.caption}}</div>
            </div>
        </div>
    </div>

</div>