<div class="tif-ebt-search">
	<div class="g-grid--row">
	    <div class="g-grid--indent">
	        <div class="g-grid--span12">
	        	<p class="tif-destination-backlink"></p>

	            <h1 class="g-font-klm tif-h1">
	                {{i18n "tif.destination.tab.flights.page-title" model.cityDetails.name}}
	            </h1>
	        </div>
	    </div>
	</div>
	<div class="g-grid--row last">
	    <div class="g-grid--indent">
	        <div class="g-grid--span12">
				{{! SEARCH WIDGET }}
	        	<div id="tif-search-widget-tab-flights" class="tif-search-widget"></div>
	        </div>
	    </div>
	</div>
</div>