{{#compare layout '2' operator='=='}}

	{{#each contentItems}}

		<div class="g-grid--span{{#compare @index 0 operator='=='}}8{{else}}4{{/compare}}">

		{{#compare type 'quote' operator='=='}}

			{{> tif-article-section-quote}}

		{{/compare}}

		{{#compare type 'image' operator='=='}}

			{{> tif-article-section-image}}

		{{/compare}}

		{{#compare type 'paragraph' operator='=='}}

			{{> tif-article-section-paragraph}}

		{{/compare}}

		</div>

	{{/each}}

{{/compare}}