<div class="tif-ebt-search">
    <div class="tif-grid--row">
        <div class="tif-grid--indent">
            <p class="tif-destination-backlink"></p>
            <h1 class="g-font-klm tif-h1">{{i18n "tif.destination.tab.flights.page-title" model.cityDetails.name}}</h1>
        </div>
    </div>
    <div class="tif-grid--row last">
        <div class="tif-grid--indent">
            <div id="tif-search-widget-tab-flights" class="tif-search-widget"></div>
        </div>
    </div>
</div>