<div class="tif-breadcrumbs">
    <div class="g-grid--row">
        <div class="g-grid--indent">
            <div class="g-grid--span12">
                <ul>
                    <li class="js-g-mi tif-breadcrumbs-travel-guide"
                        data-g-mi="tif.page.{{model.page}}.filter.breadcrumb"
                        data-event-value="travel guide">
                        <a href="{{content.urls.search-url}}" class="tif-breadcrumbs--item">{{i18n "tif.search.travelguide"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>