<div class="tif-footer">

	{{> tif-partial-filters-mobile }}


</div>

{{> footer}}


<script>

    require.config({
        paths : {
            "tif" : "/destinations/static/{{model.appDetails.version}}",
            "nls" : '//www.klm.com/travel/{{model.country}}_{{model.language}}/static/nls'
        }
    });


    {{> tif-i18n }}

    {{> tif-constants }}

    {{> tif-regions }}


    require(["tif/js/tif-img-responsive"], function (Responsive) {
        Responsive.crawl();
    });

    require(["tif/js/tif"], function (tifApp) {
        tifApp.init();
    });

</script>




</body>
</html>