<blockquote class="tif-blockquote">

    <p class="g-font-klm">&ldquo;{{quote}}&rdquo;</p>

    {{#if author}}
        <span class="tif-blockquote-author">{{author}}</span>
    {{/if}}

</blockquote>