{{#each model.sections}}

    <div class="g-grid--row tif-article-layout tif-article-layout{{layout}} tif-inspired-font">
		<div class="g-grid--indent">

			{{> tif-article-layout-1}}
			{{> tif-article-layout-2}}
			{{> tif-article-layout-3}}
			{{> tif-article-layout-4}}
			{{> tif-article-layout-5}}

		</div>
	</div>

	{{> tif-article-layout-more}}

{{/each}}