<div class="tif-content">

	{{> tif-partial-filters}}

    <div class="tif-search">
       <div class="tif-search-header">
            <div class="g-grid--row">
                <div class="g-grid--indent">
                    <div class="g-grid--span12">
                        <div class="tif-search-filtercrumbs-container">
                            <div class="tif-search-filtercrumbs"></div>
                            <div class="tif-search-no-result-message g-hidden"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="g-grid--row">
                <div class="g-grid--indent">
                   <div class="g-grid--span12">
                        <div class="tif-search-intro">
                            <h2 class="g-font-klm tif-h1 tif-search-result-counter">&nbsp;</h2>

                        </div>
                    </div>
                </div>
            </div>

            <div class="g-grid--row">
                <div class="g-grid--indent g-clear">
                   <div class="g-grid--span6">
                        <div class="tif-search-change-origin tif-change-origin">
                            <label class="tif-change-origin-label">{{i18n "tif.search.departfrom"}}:</label> <span class="tif-change-origin-text"></span>
                            <input class="tif-change-origin-picker g-locationpicker g-locationpicker--origin" autocomplete="off"/>
                        </div>
                   </div>
                   <div class="g-grid--span6">
                        <div class="tif-search-change-view"></div><div class="tif-search-change-sorting"></div>
                   </div>
               </div>
            </div>
        </div>




        {{! TEMP HACK FOR GETTING LEGAL MESSAGE ABOUT BOOKING FEE IN PAGE FOR POS NL}}
        <div id="tif-search-legal" class="g-grid--row g-hidden">
            <div class="g-grid--indent">
                <div class="g-notification-inline g-notification-inline-information">
                    <p class="g-notification-message">{{i18n "tif.search.legal.disclaimer"}}</p>
                </div>
            </div>
        </div>


        <div class="g-grid--row g-hidden" id="tif-map-wrapper">
            <div class="g-grid--indent">
                <div class="g-grid--span12">
                    <div class="tif-map-wrapper">
                        <div id="tif-map"></div>
                        <div class="tif-map-listview">
                            <ul id="tif-map-listview"></ul>
                        </div>
                        <span class="tif-map-listview-close"><b></b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tif-search-results">
            <div class="g-grid--row">
                <div class="g-grid--indent">
                   <div class="g-grid--span12">
                       <div class="tif-search-no-result-message g-hidden"></div>
                        <div class="tif-search-results-container g-loading-large"></div>
                        <div class="tif-search-results-more-destinations">
                            <a href="#" class="g-btn g-btn-disabled g-btn-toneddown"><span><b>{{i18n "tif.search.moredestinations"}}</b></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>













    </div>
</div>