<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>TIF NODE APP</title>
<style>
	html { 
		background-color:#fff;
	}
	body {
		margin:0; padding:0; font: 13px sans-serif; 
	}

</style>
</head>
<body>

<ul>
	<li><a href='/destinations/nl/nl/search'>Search app</a></li>
	<li><a href='/google'>Get resource from domain google</a></li>
	<li><a href='/simple'>Simple setup</a></li>
	<li><a href='/loop'>View using partial</a></li>
</ul>


{{{body}}}

</body>
</html>