<p>Intro</p>

<ul>
	<li><a href='/destinations/nl/en/search'>Search app</a></li>
	<li><a href='/destinations/fr/fr/europe/france/paris'>Paris</a> (french)</li>
	<li><a href='/destinations/fr/en/europe/france/paris'>Paris</a> (english)</li>
</ul>
