<p>Intro</p>

<ul>
	<li><a href='/destinations/nl/nl/search'>Search app</a></li>
	<li><a href='/sample'>Get resource from API</a></li>
</ul>


{{! EXAMPLE FOR CITY DYNAMIC TABS}}
<p>
	{{copyright}}
	{{dynamic 'footer' this}}
</p>

TODO: java i18n > js
