<p>Our application in the cloud port {{port}}.</p>

<ul>
	<li><a href='/destinations/fr/fr/search'>Search</a> (app)</li>
	<li><a href='/destinations/fr/fr/europe/netherlands/amsterdam'>AMS</a> (city page)</li>
	<li><a href='/destinations/fr/fr/article/the-beauty-of-cape-good-hope'>La beauté du Cap de Bonne-Espérance</a> (article)</li>
</ul>

<ul>
	<li><a href='/destinations/fr/en/europe/netherlands/amsterdam'>AMS</a> (english)</li>
	<li><a href='/destinations/nl/en/article/the-beauty-of-cape-good-hope'>The beauty of Cape Good Hope</a> (article)</li>
</ul>
