<p>Intro</p>

<ul>
	<li><a href='/sample'>Get resource from API</a></li>
	<li><a href='/destinations/nl/nl/search'>Search app</a></li>
</ul>

{{! HELPER: COMPARE}}
{{#compare copyright 'foo' operator='!='}}
	HELPER: COMPARE
{{/compare}}

{{! EXAMPLE FOR CITY DYNAMIC TABS}}
<p>
	{{copyright}}
	HELPER: DYNAMIC: {{dynamic 'footer' this}}
</p>



<p>
TODO:<br />
java i18n > js helper<br />
java find > js helper
</p>